@import url(./Gilroy.ttf);
@font-face {
    font-family: 'Gilroy';
    src: url(./Gilroy.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}


html,body{
    width: 100%;
    height: 100%;
}

body{
    background-color: #212121;
    color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: 24rem;
    /* height: 33rem; */
    background-color: #f9f9f9;
    border-radius: 0.2rem;
    color: #212121;
    position: relative;
}

#like_heart{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 12vw;
    color: #f9f9f9;
    transform: translate(-50%,-50%) scale(0);
    opacity: 0;
    transition: all 0.2s linear;
}

.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: 1px solid #f0f0f0; */
    padding: 0.44rem 1.3rem;
}

.top .profile_sec{
    display: flex;
    align-items: center;
}


.img-wrap{
    width: 4rem;
    height: 4rem;
    background:linear-gradient(#f9ce34,#ee2a7c7a,#6228d7);
    padding: 0.2rem;
    border-radius: 50%;
}

.img-wrap img{
    width:100%;
    height: 100%;
    border-radius: 50%;
    /* object-fit: cover;
    object-position: center; */
} 

.profile_sec .title{
    margin: 0 0.7rem;
    font-weight: 600;
}


.profile_sec > img{
    width: 1.2rem;
}



.profile_img img{
    width: 100%;
}


.card_footer{
    display: flex;
    justify-content: space-between;
    /* padding: 1rem; */
}

.card_footer .left_icons i,
.card_footer .right-icon i{
    font-size: 1.6rem;
    transition: all 0.2s linear;
}


.left_icons span{
    position: relative;
}

.left_icons span .ri-heart-fill{
    font-size:1.6rem;
    color: crimson;
    position: absolute;
    left: 0;
    transform: scale(0);
    /* opacity: 0; */
    transition: all 0.2s ease;
}

/* .left_icons span .ri-heart-fill.active{
    transform: scale(1);
} */

.card_footer .left_icons i{
    margin-left: 0.7rem;
}

.card_footer{
    padding:0.7rem 1rem;
}

